<header>
    <nav>
      <ul>
        <li><a href="#">NOBLE</a></li>
        <li><a href="#" class="logo">
          <img src="images/logo3.png">
        </a></li>
        <li><a href="#">BANK</a></li>
      </ul>
    </nav>
  </header>