<nav class="navbar sticky-top navbar-light bg-light d-flex justify-content-center align-items-rigth">

    <a class="navbar-brand" href="/login"> 
        <button type="button" class="btn btn-info">HOME</button>
    </a> 
     

</nav>
